<h1>Listing stuffs</h1>

<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Expires at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stuffs.each do |stuff| %>
      <tr>
        <td><%= stuff.title %></td>
        <td><%= stuff.expires_at %></td>
        <td><%= link_to 'Show', stuff %></td>
      </tr>
    <% end %>
  </tbody>
</table>
